[transmogrifier]
pipeline =
    remotesource
    removeid
    strip-leading-path
    fix_index_html_in_id
    fix_index_html_in_path
    constructor
    schema
    uid
    datafields
    fix_defaultPage
#    print_defaultpage
    browser-default
    get-last-workflow-state
    calc-workflow-transition
    workflowupdater
    properties
#    permissions
    owner
    local_roles
    mimetype
    commit
    IMPORTING

[remotesource]
blueprint = collective.jsonmigrator.remotesource
remote-url=http://127.0.0.1:8080
remote-path=/Plone
remote-username=admin
remote-password=plone
remote-crawl-depth=-1
remote-skip-path=
    /HTTPCache
    /MailHost
    /RAMCache
    /access_rule
    /acl_users
    /archetype_tool
    /caching_policy_manager
    /challenge_hook
    /content_type_registry
    /error_log
    /marshaller_registry
    /mimetypes_registry
    /plone_utils
    /portal_actionicons
    /portal_actions
    /portal_article
    /portal_atct
    /portal_calendar
    /portal_catalog
    /portal_controlpanel
    /portal_css
    /portal_discussion
    /portal_enfold_utilities
    /portal_factory
    /portal_file_templates
    /portal_form_controller
    /portal_fss
    /portal_groupdata
    /portal_groups
    /portal_interface
    /portal_javascripts
    /portal_languages
    /portal_lock_manager
    /portal_memberdata
    /portal_membership
    /portal_metadata
    /portal_migration
    /portal_password_reset
    /portal_placeful_workflow
    /portal_properties
    /portal_quickinstaller
    /portal_registration
    /portal_setup
    /portal_skins
    /portal_squid
    /portal_syndication
    /portal_transforms
    /portal_types
    /portal_uidannotation
    /portal_uidgenerator
    /portal_uidhandler
    /portal_undo
    /portal_url
    /portal_vocabularies
    /portal_workflow
    /property_set_registry
    /reference_catalog
    /translation_service
    /uid_catalog
    /workflow_catalog

[removeid]
blueprint = collective.transmogrifier.sections.manipulator
delete = id

# Something like this is usually necessary because the name of the old Plone/Zope site
# gets included in _path & would otherwise become a folder within the new site
[strip-leading-path]
blueprint = collective.transmogrifier.sections.inserter
key = string:_path
value = python: item['_path'].replace('ccs/', '', 1)
condition = python: item['_path'].startswith('ccs/')

[fix-start-date]
blueprint = collective.transmogrifier.sections.inserter
key = string:startDate
condition = python:item.has_key('startDate') and item['startDate']

[constructor]
blueprint = collective.transmogrifier.sections.constructor

[schema]
blueprint = plone.app.transmogrifier.atschemaupdater

[uid]
blueprint = plone.app.transmogrifier.uidupdater

# Fix page name of any "index_html" to index.html
[fix_index_html_in_id]
blueprint = collective.transmogrifier.sections.inserter
key = string:_id
value = string:index.html
condition = python:item.has_key('_id') and item['_id'] == "index_html"

[fix_index_html_in_path]
blueprint = collective.transmogrifier.sections.inserter
key = string:_path
value = python: item['_path'][:-10]+'index.html'
condition = python:item['_path'].endswith("index_html")

[fix_defaultPage]
blueprint = collective.transmogrifier.sections.inserter
key = string:_defaultpage
value = string:index.html
condition = python:item.has_key('_defaultpage') and item['_defaultpage'] == "index_html"

[browser-default]
blueprint = plone.app.transmogrifier.browserdefault

[datafields]
blueprint = collective.jsonmigrator.datafields

# Workflow history didn't work so well for me...
#blueprint = collective.jsonmigrator.workflowhistory
# ... so just getting the last workflow state & calculating the transitions required
# (from initial state) to put the object in that state in the new site 

# Find the last workflow state (& workflow name) in the workflow_history
[get-last-workflow-state]
blueprint = collective.transmogrifier.sections.inserter
key = string:_workflow_state
# Get time-sorted tuples out of workflow_history and choose review_state of the last one. Simples!
value = python:sorted([
                        (wf_item['time'], wf_item['review_state'], wf_name)
                            for wf_name in item['_workflow_history']
                                for wf_item in item['_workflow_history'][wf_name]
                                ])[-1][1:]
condition = python: item.has_key('_workflow_history') and item['_workflow_history']

# Find out which workflow transition(s) we need to get from the initial state
# to the last workflow state calculated above (_workflow_state[0])
# This is set up for simple_publication_workflow
# - you will need to modify for other workflows
# - and if you are using more than one workflow, then you will need to duplicate
#   this for each workflow & switch on the item type using each workflow
[calc-workflow-transition]
blueprint = collective.transmogrifier.sections.inserter
key = string:_transitions
value = python:{"pending":              "submit", 
#                "private":            None, 
                "published":            "publish", 
                }[item['_workflow_state'][0]]
condition = python: (item.has_key('_workflow_state') and 
                     item['_workflow_state'][0] in ['published','pending'])
#                     and
#                     item['_type'] in ("Document","Event","Favorite","File","Folder","Link","News Item","Topic"))

# Actually run the given transition to update the workflow state
[workflowupdater]
blueprint = plone.app.transmogrifier.workflowupdater

[properties]
blueprint = collective.jsonmigrator.properties

[permissions]
blueprint = collective.jsonmigrator.permissions

[owner]
blueprint = collective.jsonmigrator.owner

[local_roles]
blueprint = collective.jsonmigrator.local_roles

[mimetype]
blueprint = collective.jsonmigrator.mimetype

# Save our work gradually, rather than as one big transaction
[commit]
blueprint = collective.jsonmigrator.partialcommit
every = 20

[print_defaultpage]
blueprint = collective.transmogrifier.sections.logger
level = INFO
name = Default Page:
key = _defaultpage

[IMPORTING]
blueprint = transmogrify.print
keys = 
    _type
    _path
